
body {
  background-color: rgb(79, 142, 136);
  font-family: times;
  color: black;
  }

.main-container{
  border-style: dotted;
  border-width: 2px;
  border-color: #f9fbf2;
  padding: 15px;
  position: center ;
  left: 40px;
}

h1 {
  background-color: #ebd9ac;
  color: black;
  text-align: center;
  text-color: rgb(238,39,75)
}

#phrase {
  background-color: rgb(70, 148, 142);
  color:black;
  float:center;
  border-style: dotted;
  border-width: 2px;
  border-color: #f9fbf2;
  padding: 15px;
  position: center ;
  left: 40px;

}
p.styled{
  background-color: rgba(190, 26, 26, 0.6);
  /*border here*/
  color:black;
  float:center;
  left: 400px;
  top: 500px;
}
#image-1 {
  width:750px;
  height:900px;
  float: center;
}
#image-4 {
  Width:750px;
  height:900px;
  float:center;
}
#image-3 {
  Width:750px;
  height:900px;
  float:center;
}
