body {
   font-family: serif, Trebuchet MS, Verdana, sans-serif
   font-size: 1em;
   margin: 0.5em;
   background-color: #fff;
   text-indent: 1.5em;
   line-height: 1.5em;
}
rgb(148, 228, 254)
.element-1 {
font-size: 1.5em;
font-family: sans-serif, Trebuchet MS, Verdana, sans-serif
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Black.ttff);
    font-weight: bold;
}

p1{
  font-family: cursive;
  font-weight: bold;
}

element-1 {
   font-size: 1.5em;
   font-family: sans-serif;
}

p3 {
   font-family: serif;
}

a:hover {
   color: #1CCDCA;
   font-style: italic;
}

heading-2 {
  letter-spacing: 0.1em;
}

heading-1 {
    font-family: 'Comic Sans MS',
    'Comic Sans', Trebuchet MS, Verdana, sans-serif;
}

p intro:first-letter {
  font-size: 300%;}


styled p:first-child::first-letter {
   font-family: 'Kumar One Outline', cursive; Trebuchet MS, Verdana, sans-serif
   font-size: 3.5em;
   font-weight: bold;
}
main-content p:first-child::first-line {
   color: #ff00bf;
}

/* PSEUDO CLASS - Select the first paragraph child: */
main-content p:first-child {
   text-indent: 0;
}
