.body {
  background-color: rgb(79, 142, 136);

  }

a:active {
   color: #79AF33;
   text-decoration: none;
}
.element-1 {
   font-size: 1.5em;
   font-family: sans-serif;
}

.p3 {
   font-family: serif;
}

a:hover {
   color: #1CCDCA;
   font-style: italic;
}

.heading-2 {
    font-family: 'Comic Sans MS',
    'Comic Sans', Trebuchet MS, Verdana, sans-serif;
}

p.:first-letter {
  font-size: 300%;}

.main-content {
  font-family: serif;
}
.p1 {
  font-family: cursive;
  font-style: oblique;
  font-weight: lighter;
}

.main-content p:first-child::first-letter {
   font-family: 'Kumar One Outline', cursive; Trebuchet MS, Verdana, sans-serif
   font-size: 3.5em;
   font-weight: bold;
}
body {
   font-family: serif, Trebuchet MS, Verdana, sans-serif
