.parent-container {
   width: 600px;
   height: 600px;
   background-color: #1CCDCA;
}
.parent-container h2 {
   font-size: x-large;
   font-weight: bolder;
   font-style: italic;
}
.inner-box {
   width: 400px;
   height: 400px;
   background-color: rgba(88, 203, 48, 0.5)
}

.socialmedia_graphic {
  width:80px;
  height:80px;
  position: center;
  top:150px;
  left: 55%;
  z-index: 0;
  opacity: 75%;
}
a:hover {
   color: #1CCDCA;
   font-style: italic;
}
